.layout {
    display: flex;
    flex-direction: column;
}

.headerheight {
    height: 4.8rem;
    background: orangered;
}

.bodyheight {
    flex: 1;
    background-color: orangered;
}

.footerheight {
    height: 3rem;
    background-color: orangered;
}