.container {
    background-color: var(--color-primary);
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--color-primary-black);
    font-size: 1.6rem;
    font-weight: 500;
}