.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 35rem;
    background-color: var(--color-primary-white);
}

.input,
.input:focus,
.input:active {
    outline: none;
    width: 32.5rem;
    border: none;
    color: var(--color-light-grey);
}